<IfModule mod_rewrite.c>
    RewriteEngine On

    # Impede a listagem de diretórios
    Options -Indexes

    # Se o ficheiro ou diretório existe na pasta 'public', serve-o diretamente
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{DOCUMENT_ROOT}/public/$1 -f [OR]
    RewriteCond %{DOCUMENT_ROOT}/public/$1 -d
    RewriteRule ^(.*)$ public/$1 [L]

    # Redireciona todas as outras solicitações para o index.php da raiz
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]
</IfModule>
